__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pkl
.pytest_cache/

notebook/

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

data/
datasets/
*.csv
*.tsv
*.arpa
*.bin
*.txt
!requirements.txt

models/
checkpoints/
*.pth
*.pt
*.ckpt
*.h5

.wslconfig
*.log
language_model.py